<form action="/urls" method="post">
    Enter URL: 
    <input type="text" name="long_url">
    <input type="submit" value="Submit">
</form>

<p>
<% Url.all.each do |url| %>
	Original URL: <%= url.original_url%><br>
	Shortened URL: localhost:9393/<%= url.short_url%><br><br>
<% end %>
</p>