<table id="description">
	<tbody>
		<tr>
			<td><img src="/img/shorten.png"><br>
			<span>SHORTEN</span><br>
			Shorten, brand and optimize your links across devices and channels. Share them via Bitly, API or partner integrations.
			</td>
			<td><img src="/img/measure.png"><br>
			<span>MEASURE</span><br>
			Track individual link analytics, gather audience intelligence and measure campaign performance in one location.
			</td>
			<td><img src="/img/optimize.png"><br>
			<span>OPTIMIZE</span><br>
			Collect insights on your performance and optimize your marketing efforts to better fit your audience needs.
			</td>
		</tr>
	</tbody>
</table>